# Build paths and files
build/
build-*/
prefix/
prefix-*/
/linux/downloads/
/linux/build-*/
/linux-*/
steamworks_sdk/
oclint/
*.o
*.obj
*.res
*.out
*.exe
*.dll
*.pdb
*.AppImage
*.app
*.dSYM
*.gcno
*.gcda

# General
.cache/
.clangd/
.gdbinit
.gdb_history
compile_commands.json
*.log
*.tmp
*.swp
*.swo
*.bak
*.orig
*.rej
*.lnk
*~
[Dd]esktop.ini
Thumbs.db
__MACOSX/
.DS_Store
._*

# macOS general
.AppleDouble
.LSOverride
.fseventsd
.DocumentRevisions-V100
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk
Network Trash Folder
Temporary Items

# IDEs
.idea/
.idea_modules/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.history/
*.code-workspace
*.sublime-project
*.sublime-workspace
*.iws

# Journal
__pycache__/
*.py[codz]
*$py.class

# Game files
object_script.*
rpgscript.bat
rpgscript - mklang.bat
*.pot
xScripts.rxdata
